body{
    background-color: rgb(172, 12, 92);  
}


.color_p{
    color: rgb(207, 11, 149);
}

.border_purple{
    border-color: rgb(173, 13, 160);
}

.bnt_light_grey{
    background-color: lightgray;
}
.rounded_my{
    border-radius: 16px;
    filter: drop-shadow(2px 2px 4px black);
}